/** esto es del nav bar **/
        
/** esto es del carrousel **/

/** esto es de Oradores**/

/** esto es de Playa**/

/** esto es del formulario **/

.colorboton{
    background-color: #96c93e;
    border: none;
}

/** esto es del Pie de pagina**/

.colorpie {
    background-color: #1e5170;
    height: 7rem;
}